#aside{
    text-align: center;
    padding : 0px 2%;
    #profile, #tag-wrap {
        margin-bottom: 60px;
    }
    p b{
        // color: $theme-color;
        letter-spacing: -0.05rem;
        font-size: 1rem;
    }
    .img-wrap{
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 180px;
        height: 180px;
        border-radius: 15px;
        background-color: #ddd;
        margin : 30px 0px;
        img {
            width : 100%;
        }
    }
    // Profile Image Cover
    .img-wrap::before{
        content : "";
        position : absolute;
        top : 0;
        left : 0;
        right : 0;
        bottom: 0;
        background: rgba(0,0,0,0.03);
    }
    .img-wrap:hover::before{
        background: rgba($theme-color, 0.1);
    }
    .title, .username  {
        font-size : 1.1rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.5em;
        margin-bottom: 20px;
    }
    .title:hover{
        color: $theme-color;
    }
    .description{
        font-size : 0.95rem;
    }
  #career {
      .exper {
      padding-top: 35px;
      ul.exper-list {
        margin-top: 25px;
        margin-left: 3%;
        list-style-type: none;
        li.meta {
          position: relative;
          padding: 15px 0 15px 30px;
          p {
            font-weight: 600;
            line-height: 0.8rem;
          }
          .date {
            font-size: 0.75rem;
            color: rgba(0, 0, 0, 0.5);
          }
          .description {
            font-size: 1rem;
          }
        }
      }
    }
    .skills {
      padding-top: 35px;
      ul.skill-list {
        margin-top: 20px;
        margin-left: 3%;
        list-style-type: none;
        li.skill {
          margin: 18px auto;
          .name {
            padding-left: 5px;
            font-size: 0.85rem;
            font-weight: 600;
          }
        }
      }
  }
}
}

